<div class="login_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="content w-100">
                    <div class="login-card">
                        <div class="col-md-12 text-center mt-3">
                            <h2 class="title-signin">Sign in to the Test</h2>
                        </div>
                        <form [formGroup]="loginForm" (submit)="handleSubmit()">
                            <div class="my-3">
                                <input type="text" formControlName="email" name="email" class="form-control input-credentials" placeholder="Email" required maxlength="50"
                                    [ngClass]="{ 'is-invalid': submitted && formFields.email.errors }">
                                <div *ngIf="submitted && formFields.email.errors" class="errors">
                                    <div *ngIf="formFields.email.errors.required">Email is required</div>
                                    <div *ngIf="formFields.email.errors.email">Wrong email format.</div>
                                </div>
                            </div>

                            <div class="my-3">
                                <input type="password" formControlName="password" name="password" class="form-control input-credentials" placeholder="Password" required
                                    maxlength="30" [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }">
                                <div *ngIf="submitted && formFields.password.errors" class="errors">
                                    <div *ngIf="formFields.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button *ngIf="!loading" type="submit" class="btn btn-primary btn-login mt-2">Sign In</button>
                                <mat-progress-spinner class="m-auto" mode="indeterminate" diameter="50" *ngIf="isLoading">
                                </mat-progress-spinner>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>